.acquia-style {
  background-color: #137dac;
}

.acquia-style .acquia-brand {
  color: #015073;
}

.ezcater-style {
  background-color: #05ac72;
}

.ezcater-style .ezcater-brand {
  color: #076644;
}
