.buttonsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em 0 2em 0;
}

.styledOverviewButton {
  width: 20%;
  height: 4em;
  border-radius: 20px;
  background-color: #2098d1;
  border: 0px;
  font-size: 2em;
}

.aboutMeHeader {
  text-align: center;
}
