.experienceIntro {
  margin-top: 1em;
  text-align: center;
}
.experienceCarousel {
  width: 100%;
  margin-top: 3em;
}

.experienceDescriptionHeader {
  width: 90%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.experienceDescriptionHeader h1 {
  margin-top: 1em;
}
.experienceDescriptionDetails {
  width: 80%;
  margin: 2em auto 0 auto;
}

.experienceDescriptionDetails li {
  margin-bottom: 1em;
}

.carousel-item {
  width: 100%;
  max-height: 500px !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
  background-color: #000000;
}
